.btn
{
  width: 500px;
  height: 500px;
}
.directionButtonsSectionContainer
{
  margin-top: 20px;

  display: inline-block;
  width: 100%;
  
}
.sectionTitle
{
  font-family: sans-serif;
  display: inline-block;
  margin-left: 10px;
}
.directionButtonsContainer
{

  display: flex;
  width: 100%;
  
  padding-left: 15px;
}